#preview-action{display:none;}

.propertyhive_meta_box .checkbox{width:auto;vertical-align:middle;margin:7px 0;}
.propertyhive_meta_box p{margin:9px 0;}
.propertyhive_meta_box fieldset.form-field,
.propertyhive_meta_box p.form-field{padding:5px 20px 5px 162px !important;}
.propertyhive_meta_box fieldset.form-field:after,
.propertyhive_meta_box p:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.propertyhive_meta_box fieldset.form-field,
.propertyhive_meta_box p{font-size:12px;line-height:24px;margin:0 0 9px;padding:5px 9px;}
.propertyhive_meta_box label,
.propertyhive_meta_box legend{float:left;width:150px;margin:0 0 0 -150px;padding:0;}
.propertyhive_meta_box label .req,
.propertyhive_meta_box legend .req{font-weight:700;font-style:normal;color:#a00;}
.propertyhive_meta_box .description{margin:0 0 0 7px;padding:0;}
.propertyhive_meta_box .description-block{margin-left:0;display:block;}

.propertyhive_meta_box textarea{vertical-align:top;height:4.8em;line-height:1.5em;}

.propertyhive_meta_box input[type=email],
.propertyhive_meta_box input[type=number],
.propertyhive_meta_box input[type=text] {width:50%;float:left;}
.propertyhive_meta_box input.button{width:auto;margin-left:8px;}

.propertyhive_meta_box select.multiselect,
.propertyhive_meta_box .chosen-container {width:100%!important;}

.propertyhive_meta_box .short,
.propertyhive_meta_box input[type=email].short,
.propertyhive_meta_box input[type=number].short,
.propertyhive_meta_box input[type=text].short{width:50%; max-width:250px;}

.propertyhive_meta_box .ph-radios{display:block;float:left;margin:0;}
.propertyhive_meta_box .ph-radios li{display:block;padding:0 0 10px;}
.propertyhive_meta_box .ph-radios li input{width:auto;}

.propertyhive_meta_box .sized{width:auto!important;margin-right:6px;}
.propertyhive_meta_box .options_group{border-top:1px solid #fff;border-bottom:1px solid #DFDFDF;}
.propertyhive_meta_box .options_group:first-child{border:0;}
.propertyhive_meta_box .options_group fieldset{font-size:12px;line-height:24px;margin:9px 0;padding:5px 9px;}
.propertyhive_meta_box .options_group fieldset label{width:auto;float:none;}
.propertyhive_meta_box .options_group fieldset ul{float:left;width:50%;margin:0;padding:0;}
.propertyhive_meta_box .options_group fieldset ul li{width:auto;margin:0;}
.propertyhive_meta_box .options_group fieldset ul li input{width:auto;float:none;margin-right:4px;}
.propertyhive_meta_box .options_group fieldset ul.ph-radios label{margin-left:0;}

.propertyhive_meta_box .media_grid{  }
.propertyhive_meta_box .media_grid ul{}
.propertyhive_meta_box .media_grid ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.propertyhive_meta_box .media_grid ul li{ position:relative; float:left; width:150px; height:150px; margin:7px; }
.propertyhive_meta_box .media_grid ul li .hover{ opacity:0; transition:all 0.25s; -webkit-transition:all 0.25s; position:absolute; right:-10px; top:-10px; width:22px; }
.propertyhive_meta_box .media_grid ul li:hover .hover { opacity:1; }
.propertyhive_meta_box .media_grid ul li .hover .attachment-delete,
.propertyhive_meta_box .media_grid ul li .hover .attachment-edit { border:1px solid #CCC; border-radius:50%; height:22px; width:100%; background:#FFF no-repeat center center; }
.propertyhive_meta_box .media_grid ul li .hover .attachment-delete { background-image:url(../images/attachment-delete.png); margin-bottom:3px; }
.propertyhive_meta_box .media_grid ul li .hover .attachment-edit { background-image:url(../images/attachment-edit.png); }
.propertyhive_meta_box .media_grid ul li .hover a { display:block; height:100%; width:100%; }
.propertyhive_meta_box .media_grid ul li img{ display:block; margin:0; auto; max-width:100%; max-height:100%; }

.propertyhive_meta_box .room{ border-radius:3px;background:#FFF;border:1px solid #dfdfdf; margin:9px 0;}
.propertyhive_meta_box .room .room-details{background:#fafafa;border:1px solid #eee;padding:6px;}
.propertyhive_meta_box .room h3 { padding-left:10px; padding-right:10px; }
.propertyhive_meta_box .room h3 button{float:right}
.propertyhive_meta_box .room h3 .handlediv{ background-position:6px 0px!important;height:28px; }
.propertyhive_meta_box .room h3 strong{line-height:28px;}

.propertyhive_meta_box_actions .form-field { padding:0 !important; margin-bottom:16px; }
.propertyhive_meta_box_actions .form-field label { float:none; display:block; margin:0 0 3px; width:100%; }
.propertyhive_meta_box_actions input[type=email], 
.propertyhive_meta_box_actions input[type=number],
.propertyhive_meta_box_actions input[type=text] { float:none; }
.propertyhive_meta_box_actions hr { margin:12px 0; }
.propertyhive_meta_box_actions .button-success { background:#5cb85c; color:#FFF; border-color:#4cae4c; }
.propertyhive_meta_box_actions .button-success:hover { background:#449d44; color:#FFF; border-color:#398439; }
.propertyhive_meta_box_actions .button-danger { background:#d9534f; color:#FFF; border-color:#d43f3a; }
.propertyhive_meta_box_actions .button-danger:hover { background:#c9302c; color:#FFF; border-color:#ac2925; }

ul.record_notes{padding:2px 0 0}
ul.record_notes li { padding:0 10px; }
ul.record_notes li .note_content{padding:10px;background:#efefef;position:relative}
ul.record_notes li .note_content p{margin:0;padding:0;word-wrap:break-word}
ul.record_notes li p.meta{padding:10px;color:#999;margin:0;font-size:11px}
ul.record_notes li p.meta .exact-date{border-bottom:1px dotted #999}
ul.record_notes li a.delete_note{color:#a00}
ul.record_notes li .note_content:after{content:"";display:block;position:absolute;bottom:-10px;left:20px;width:0;height:0;border-width:10px 10px 0 0;border-style:solid;border-color:#efefef transparent}

.propertyhive table.form-table table.widefat th {
    padding-right: inherit;
}
table.ph_customfields, table.ph_offices {
    position: relative;
}
table.ph_customfields th, table.ph_offices th {
	vertical-align: middle;
	padding: 9px 7px!important;
}
table.ph_customfields td, table.ph_offices th {
    vertical-align: middle;
    padding: 7px;
}
table.ph_customfields th, table.ph_customfields td {
	width:auto;
}
table.ph_customfields .settings, table.ph_offices .settings {
    text-align: right;
}
table.ph_offices .primary {
    text-align: center;
}
table.ph_offices .primary input {
    margin: 0;
}

.add_note {border-top:1px solid #ddd;padding:10px 10px 0;}
.add_note h4 {margin-top:5px!important;}
.add_note textarea {width:100%;height:50px;}

#propertyhive-contact-relationships .inside { margin:0; padding:0; }
#propertyhive-contact-relationships .panel-wrap {background:#FFF; padding-left:153px;}
#propertyhive-contact-relationships .panel { position:relative; }
#propertyhive-contact-relationships .ph-tabs-back { position:absolute; top:0; left:0; bottom:0; background:#f5f5f5; width:145px; border-right:1px solid #DFDFDF; }
#propertyhive-contact-relationships ul.ph-tabs, .propertyhive ul.ph-tabs {background:#f5f5f5; line-height:1em; float:left; width:145px; margin:0; position:relative; padding:0 0 10px; margin-left:-153px;}
#propertyhive-contact-relationships ul.ph-tabs li, .propertyhive ul.ph-tabs li {display:block; padding:0; margin:0;}
#propertyhive-contact-relationships ul.ph-tabs li a, .propertyhive ul.ph-tabs li a {padding:10px;line-height:18px!important;margin:0;display:block;background:#f5f5f5;text-decoration:none;border-bottom:1px solid #f5f5f5;border-top:1px solid #eaeaea;}
#propertyhive-contact-relationships ul.ph-tabs li a:before, .propertyhive ul.ph-tabs li a:before {speak:none;font-weight:400;font-variant:normal;text-transform:none; line-height:1; -webkit-font-smoothing:antialiased; margin-right:7px;}
#propertyhive-contact-relationships ul.ph-tabs li:first-child a, .propertyhive ul.ph-tabs li:first-child a {border-top:0!important;}
#propertyhive-contact-relationships ul.ph-tabs li.active a, .propertyhive ul.ph-tabs li.active a {border-color:#DFDFDF;position:relative;background-color:#fff;color:#555;margin:0 -1px 0 0;}
#propertyhive-contact-relationships .actions { position:absolute; top:10px; right:15px; }

#wpbody-content .inline-edit-property .inline-edit-col-right { margin-top:0; }

#tiptip_holder{display:none;position:absolute;top:0;left:0;z-index:9999999}#tiptip_holder.tip_top{padding-bottom:5px}#tiptip_holder.tip_top #tiptip_arrow_inner{margin-top:-7px;margin-left:-6px;border-top-color:#333}#tiptip_holder.tip_bottom{padding-top:5px}#tiptip_holder.tip_bottom #tiptip_arrow_inner{margin-top:-5px;margin-left:-6px;border-bottom-color:#333}#tiptip_holder.tip_right{padding-left:5px}#tiptip_holder.tip_right #tiptip_arrow_inner{margin-top:-6px;margin-left:-5px;border-right-color:#333}#tiptip_holder.tip_left{padding-right:5px}#tiptip_holder.tip_left #tiptip_arrow_inner{margin-top:-6px;margin-left:-7px;border-left-color:#333}#tiptip_content,.chart-tooltip,.wc_error_tip{color:#fff;font-size:.8em;max-width:150px;background:#333;text-align:center;border-radius:3px;padding:.618em 1em;box-shadow:0 1px 3px rgba(0,0,0,.2)}#tiptip_content code,.chart-tooltip code,.wc_error_tip code{padding:1px;background:#888}#tiptip_arrow,#tiptip_arrow_inner{position:absolute;border-color:transparent;border-style:solid;border-width:6px;height:0;width:0}