/* Modal container styles */
#propertyhive_survey_modal {
    display: none; /* Ensure the modal is hidden by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal inner container */
#propertyhive_survey_modal .modal-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 596px;
}

/* Modal header */
#propertyhive_survey_modal .modal-header {
    background-color: #fbfbfb;
    border-bottom:1px solid #eee;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color:#CCC;
}

/* Modal content */
#propertyhive_survey_modal .modal-content {
    padding: 20px;
    text-align: left;
}
#propertyhive_survey_modal .modal-content h3 {
    margin-top:0;
    margin-bottom:1.2em;
    font-size:16px;
}
#propertyhive_survey_modal .modal-content label {
    display:block;
    margin-bottom:8px;
}

/* Modal footer */
#propertyhive_survey_modal .modal-footer {
    position:relative;
    border-top:1px solid #F3F3F3;
    padding: 10px 20px;
    text-align: right;
}
#propertyhive_survey_modal .anonymous {
    position:absolute;
    display:none;
    left:20px;
    top:11px;
}

/* Text area for "Other" reason */
#phOtherReasonBox {
    display: none;
    margin-top: 10px;
    width: 100%;
}
